<!DOCTYPE html>
<html>
  <head>
    <title>Welcome Email</title>
  </head>
  <body>
    <h1>Hello <%= UserName %>!</h1>
    <p>Welcome to Chakula tamu Restaurant, we hope you will like it here.</p>
    <p>
      This is the best restaurant in the City, We hope you enjoy our delicious
      food!
    </p>
    <img
      src="<%= imageUrl %>"
      alt="Delicious Food"
      style="width: 100%; height: auto"
    />
    <p>
      If you have any questions, feel free to contact us at bkemboi@gmail.com.
    </p>
    <p>Best regards,<br />Brian Kemboi</p>
  </body>
</html>
